<section id="about" class="container content-section text-center">
    <div id="about_change" class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br/><br/>
            <h2>About Me</h2>
            <hr class="intro-divider">
            <br/>
                <p><font size="4px">Under construction </font></p>
                <p><font size="4px"></font></p>
                <p><font size="4px"></font></p>
                
             <br/>
        </div>
    </div>
</section>






